.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: -20px;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.2rem;
  font-size: 2.8rem;
  color: #fff;
  text-align: left;
  margin-right: 0.5rem;
  border-radius: 5px;
}
.cascading-admin-card .admin-up .algorithmName {
  position: absolute;
  top: 38%;
  left: 55%;
  transform: translateX(-50%) translateY(-0%);
}
.cascading-admin-card .admin-up .taskNumber {
  float: right;
  margin-top: -3rem;
  text-align: right;
}
.special-width {
  width: 100px;
  max-width: 100px;
}
.admin-up .taskNumber p {
  color: #999999;
  font-size: 12px;
}

.cascading-admin-card .benchmarkSelector {
  color: #999999;
  margin-bottom: -0.05rem;
  font-size: 13px;
}

.logSelector {
  color: #999999;
  margin-bottom: -0.05rem;
  font-size: 13px;
  margin-left: 0px;
}

.parameterSelector {
  color: #999999;
  margin-bottom: -0.05rem;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 5px;
}

.hintClass {
  display: none;
  margin-left: 10px;
}

a:hover + div.hintClass {
  display: block;
}

.cascading-admin-card .benchmarkPossibilities {
  color: #1f71ff;
  font-size: 12px;
  padding: 0.1rem;
}

.cascading-admin-card .runButton {
  margin-top: 10px;
}

.cascading-admin-card .progress {
  margin-top: 0.5rem;
}

.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.margin-top-little {
  margin-top: 10px;
}
strong {
  margin-right: 5px;
  margin-left: 5px;
}