.cascading-admin-card {
  margin: 20px 0;
}

.title-class {
  background-color: white;
  padding-left: 20px;
  border-radius: 5px;
}

.margin-top-little {
  margin-top: 10px;
}

.no-up-padding-card-body {
  padding-top: 0px;
}

.run-button-start {
  background-color: var(--primary) !important;
}

.run-button-stop {
  background-color: #aa66cc !important;
}

.row-with-logs {
  padding-left: 15px;
  padding-right: 15px;
}

.col-with-logs {
  padding-left: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
}

strong {
  margin-right: 5px;
  margin-left: 5px;
}

.logSelector {
  color: #999999;
  margin-bottom: -0.05rem;
  font-size: 13px;
  margin-left: 0px;
}
