.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
  margin-top: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0;
}
.card {
  background-color: transparent;
}

.card-body {
  padding-left: 0px;
  padding-right: 0px;
}

.title-class {
  background-color: white;
  padding-left: 20px;
  border-radius: 5px;
}

.custom-margin-top {
  margin-top: 0px
}

.results-table {
  padding-top: 0px;
}

table {
  table-layout: fixed;
}

td {
  overflow: hidden;
}

.header-button-style {
  float: right;
  padding-top:13px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.dark-blue-background-hoverable {
  background-color: #1452b6;
}

.dark-blue-background-hoverable:hover {
  background-color: #5595fb
}

.results-row {
  margin-right: 5px;
  margin-left: 5px;
}

.graph-li-class {
  padding-top:13px;
  height: 50px;
}

.white-background {
  background-color: white;
}

.top-table-header {
  padding-top: 0.75rem;
  padding-bottom: 0rem;
}

.red-color {
  color: #e65100;
}

.orange-background {
  background-color: #f9a825;
}

.hoverable-table-header {
  background-color: #f9a825;
}

.hoverable-table-header:hover {
  background-color: #f57f17;
}

.hoverable-table-button {
  padding: 0.25rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  background-color: #f9b74c;
}

.dark-blue-color {
  color: #455a64;
}

.hoverable-table-button:hover {
  background-color: #f57f17;
}

.quarter-padding {
  padding: 0.25rem;
}

.can-be-pressed {
  background-color: #e8f7ff;
}

.can-be-pressed:hover {
  background-color: #ceefff;
}

/* CSS styles for checkboxes: https://www.sliderrevolution.com/resources/css-checkbox/
- author: thelaazyguy
-  
 */
.input_wrapper{
  width: 80px;
  height: 40px;
  position: relative;
  cursor: pointer;
  scale: 0.75;
}

.input_wrapper input[type="checkbox"]{
  width: 80px;
  height: 40px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #4285F4;
  border-radius: 2px;
  position: relative;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.input_wrapper input[type="checkbox"]:after{
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background: #dfeaec;
  z-index: 2;
  border-radius: 2px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.input_wrapper .is_checked{
  width: 18px;
  left: 18%;
  -webkit-transform: translateX(190%) translateY(-30%) scale(0);
          transform: translateX(190%) translateY(-30%) scale(0);
}

.input_wrapper .is_unchecked{
  width: 15px;
  right: 10%;
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

/* Checked State */
.input_wrapper input[type="checkbox"]:checked{
  background: #23da87;
}

.input_wrapper input[type="checkbox"]:checked:after{
  left: calc(100% - 37px);
}

.input_wrapper input[type="checkbox"]:checked + .is_checked{
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
  -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
          transform: translateX(-190%) translateY(-30%) scale(0);
}
